@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.container {
  background-color: #fbfcfe;
  display: flex;
  margin: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 40px;
}